* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: black;
    font-family: Montserrat;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 1201px) {

    .prev,
    .next {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #D81E5B;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .prev {
        left: 5px;
    }

    .next {
        right: 5px;
    }

    .top {
        justify-content: space-between;
        background-color: #D81E5B;
        display: flex;
        align-content: center;
        height: 50px;
    }

    .btn-container {
        display: flex;
        width: 500px;
        justify-content: space-evenly;
    }

    .btn img {
        width: 100px;
        height: 50px;
    }

    .btn {
        background-color: #D81E5B;
        font-weight: 600;
        text-align: left;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .search {
        display: flex;
    }

    .searchanddrop {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 315px;
    }

    .suggestions {
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 100%;
        left: 0;
        max-width: 100%;
        z-index: 1;
    }

    .suggestion-item {
        padding: 10px;
        cursor: pointer;
        max-width: 100%;
    }

    .suggestion-item:hover {
        background-color: #D81E5B;
    }

    .search-container {
        padding-top: 10px;
        display: flex;
        align-content: center;
        margin-right: 30px;
    }

    .search-bar {
        width: 300px;
        padding: 5px;
        border: none;
        border-radius: 4px;
    }

    .search-btn img {
        height: 25px;
        width: 25px;
    }

    .search-btn {
        padding: 2px;
        cursor: pointer;
        background-color: white;
        border: none;
        border-radius: 0 4px 4px 0;
        height: 100%;
    }

    #dropdownButton {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        margin-left: 10px;
        padding: 5px;
        font-weight: 550;
        font-size: 15px;
    }

    #dropdownButton:hover {
        background-color: white;
        color: #D81E5B;
        border: 2px solid #D81E5B;
        cursor: pointer;
    }

    .dropdownContent {
        display: none;
        /* Hidden by default */
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        margin-top: 9px;
    }

    .dropdownContent a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdownContent a:hover {
        background-color: #D81E5B;
        color: white;

    }


    .CategoryTitle {
        font-family: Montserrat;
        padding-bottom: 15px;
    }

    .ForYou,
    .TVShows,
    .Movies {
        position: relative;
        overflow: hidden;
        padding: 30px 25px 0 25px;
        font-weight: 600;
    }

    .ForYouBar,
    .TVShowsBar,
    .MoviesBar {
        display: flex;
        transition: transform 0.5s ease;
        align-items: center;
    }

    .ForYouBar img,
    .TVShowsBar img,
    .MoviesBar img {
        height: 280px;
        width: 190px;
        border-radius: 4px 4px 4px 4px;
        border: 2px solid #D81E5B;
    }

    .HPbutton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        margin-right: 0.79rem;
    }

    .ForYouBar::-webkit-scrollbar,
    .TVShowsBar::-webkit-scrollbar,
    .MoviesBar::-webkit-scrollbar {
        display: none;
    }

    .bottomLine {
        margin-top: 25px;
        height: 5px;
        background-color: #D81E5B;
    }

    .bottom {
        height: 150px;
        background-color: black;
    }

    .footer {
        border-top: 5px solid #D81E5B;
        padding: 5rem;
        display: flex;
        justify-content: space-around;


    }

    .footer h3 {
        font-size: 15px;
        font-weight: 300;
        padding-top: 5px;
    }

    .footer ul {
        font-size: small;
        padding: 10px;
        list-style-type: disc
    }

    .links {
        text-decoration: none;

    }

    .footer h2 {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}


@media (max-width: 1200px) and (min-width: 776px) {

    .prev,
    .next {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #D81E5B;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .prev {
        left: 5px;
    }

    .next {
        right: 5px;
    }



    .top {
        justify-content: space-between;
        background-color: #D81E5B;
        display: flex;
        align-content: center;
        height: 50px;
    }

    .btn-container {
        display: flex;
        width: 500px;
        justify-content: space-evenly;
    }

    .btn img {
        width: 100px;
        height: 50px;
    }

    .btn {
        background-color: #D81E5B;
        font-weight: 600;
        text-align: left;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .search-container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-content: center;
        padding-right: 25px;
    }

    .search-bar {
        width: 300px;
        padding: 5px;
        border: none;
        border-radius: 4px 0 0 4px;
    }

    .search-btn img {
        height: 25px;
        width: 25px;
    }

    .search-btn {
        padding: 2px;
        cursor: pointer;
        background-color: white;
        border: none;
        border-radius: 0 4px 4px 0;
    }

    #dropdownButton {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        margin-left: 10px;
        padding: 5px;
        font-weight: 550;
        font-size: 15px;
    }

    #dropdownButton:hover {
        background-color: white;
        color: #D81E5B;
        border: 2px solid #D81E5B;
        cursor: pointer;
    }

    .dropdownContent {
        display: none;
        /* Hidden by default */
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        margin-top: 9px;
    }

    .dropdownContent a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdownContent a:hover {
        background-color: #D81E5B;
        color: white;

    }



    .CategoryTitle {
        font-family: Montserrat;
        padding-bottom: 15px;
    }

    .ForYou,
    .TVShows,
    .Movies {
        position: relative;
        overflow: hidden;
        padding: 30px 25px 0 25px;
        font-weight: 600;
    }

    .ForYouBar,
    .TVShowsBar,
    .MoviesBar {
        display: flex;
        transition: transform 0.5s ease;
        align-items: center;
    }

    .ForYouBar::-webkit-scrollbar,
    .TVShowsBar::-webkit-scrollbar,
    .MoviesBar::-webkit-scrollbar {
        display: none;
    }

    .ForYouBar img,
    .TVShowsBar img,
    .MoviesBar img {
        height: 200px;
        border-radius: 4px 4px 4px 4px;
        margin-right: 1.35%;
        margin-bottom: 5px;
        border: 2px solid #D81E5B;
    }

    .bottomLine {
        margin-top: 25px;
        height: 5px;
        background-color: #D81E5B;
    }

    .bottom {
        height: 150px;
        background-color: black;
    }

    .footer {
        border-top: 5px solid #D81E5B;
        padding: 5rem;
        display: flex;
        justify-content: space-around;


    }

    .footer h3 {
        font-size: 15px;
        font-weight: 300;
        padding-top: 5px;
    }

    .footer ul {
        font-size: small;
        padding: 10px;
        list-style-type: disc
    }

    .links {
        text-decoration: none;

    }

    .footer h2 {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

@media (max-width: 775px) and (min-width: 360px) {
    .top {
        justify-content: space-between;
        background-color: #D81E5B;
        display: flex;
        align-content: center;
        height: 50px;
    }

    .btn-container {
        display: flex;
        width: 500px;
        justify-content: space-evenly;
    }

    .btn img {
        width: 100px;
        height: 50px;
    }

    .btn {
        background-color: #D81E5B;
        font-weight: 600;
        text-align: left;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .search-container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-content: center;
        padding-right: 25px;
    }

    .search-bar {
        width: 300px;
        padding: 5px;
        border: none;
        border-radius: 4px 0 0 4px;
    }

    .search-btn img {
        height: 25px;
        width: 25px;
    }

    .search-btn {
        padding: 2px;
        cursor: pointer;
        background-color: white;
        border: none;
        border-radius: 0 4px 4px 0;
    }

    #dropdownButton {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        margin-left: 10px;
        padding: 5px;
        font-weight: 550;
        font-size: 15px;
    }

    #dropdownButton:hover {
        background-color: white;
        color: #D81E5B;
        border: 2px solid #D81E5B;
        cursor: pointer;
    }

    .dropdownContent {
        display: none;
        /* Hidden by default */
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        margin-top: 9px;
    }

    .dropdownContent a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdownContent a:hover {
        background-color: #D81E5B;
        color: white;

    }

    .ForYou,
    .TVShows,
    .Movies {
        padding: 30px 25px 0 25px;
        font-weight: 600;
    }

    .CategoryTitle {
        font-family: Montserrat;
        padding-bottom: 15px;
    }

    .ForYouBar,
    .TVShowsBar,
    .MoviesBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
    }

    .ForYouBar::-webkit-scrollbar {
        display: none;
    }

    .TVShowsBar::-webkit-scrollbar {
        display: none;
    }

    .MoviesBar::-webkit-scrollbar {
        display: none;
    }

    .ForYouBar img,
    .TVShowsBar img,
    .MoviesBar img {
        width: 200px;
        height: 275px;
        border-radius: 4px 4px 4px 4px;
        margin-right: 10px;
        margin-bottom: 5px;
        border: 2px solid #D81E5B;
    }

    .bottomLine {
        margin-top: 25px;
        height: 5px;
        background-color: #D81E5B;
    }

    .bottom {
        height: 150px;
        background-color: black;
    }

    .footer {
        border-top: 5px solid #D81E5B;
        padding: 5rem;
        display: flex;
        justify-content: space-around;


    }

    .footer h3 {
        font-size: 15px;
        font-weight: 300;
        padding-top: 5px;
    }

    .footer ul {
        font-size: small;
        padding: 10px;
        list-style-type: disc
    }

    .links {
        text-decoration: none;

    }

    .footer h2 {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
    }

}